<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글 작성</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/alt-fonts/pretendard/css/pretendard.css"
    />
    <link rel="stylesheet" href="/src/layout/create-post.css" />
  </head>
  <body>
    <div class="div">
      <!-- 글 등록 버튼 -->
      <div class="create-div">
        <button class="create">등록</button>
      </div>

      <!-- 글 내용 작성 -->
      <div class="content">
        <input class="title" type="text" placeholder="제목을 입력하세요." />
        <!--이미지 등록 슬라이드-->
        <div class="nav-tab__inner">
          <div class="nav-tab__scroller">
            <ul class="nav-tab__list">
              <li class="nav-tab__item on">
                <input
                  type="file"
                  id="file-input-1"
                  class="image-upload"
                  accept="image/*"
                />
                <label for="file-input-1" class="image-label"></label>
              </li>
              <li class="nav-tab__item">
                <input
                  type="file"
                  id="file-input-2"
                  class="image-upload"
                  accept="image/*"
                />
                <label for="file-input-2" class="image-label"></label>
              </li>
              <li class="nav-tab__item">
                <input
                  type="file"
                  id="file-input-3"
                  class="image-upload"
                  accept="image/*"
                />
                <label for="file-input-3" class="image-label"></label>
              </li>
              <li class="nav-tab__item">
                <input
                  type="file"
                  id="file-input-4"
                  class="image-upload"
                  accept="image/*"
                />
                <label for="file-input-4" class="image-label"></label>
              </li>
              <li class="nav-tab__item">
                <input
                  type="file"
                  id="file-input-5"
                  class="image-upload"
                  accept="image/*"
                />
                <label for="file-input-5" class="image-label"></label>
              </li>
              <li class="nav-tab__item">
                <input
                  type="file"
                  id="file-input-6"
                  class="image-upload"
                  accept="image/*"
                />
                <label for="file-input-6" class="image-label"></label>
              </li>
              <li class="nav-tab__item">
                <input
                  type="file"
                  id="file-input-7"
                  class="image-upload"
                  accept="image/*"
                />
                <label for="file-input-7" class="image-label"></label>
              </li>
            </ul>
          </div>
        </div>
        <textarea
          class="post-content"
          placeholder="내용을 입력하세요."
        ></textarea>
      </div>
    </div>

    <!-- 하단 네비게이션 바 -->
    <footer>
      <nav>
        <a href="1.html"><img src="/src/assets/nav-recommend.png" alt="."><span>추천</span></a>
        <a href="2.html"><img src="/src/assets/nav-filled-community.png" alt="."><span>커뮤니티</span></a>
        <a href="3.html"><img src="/src/assets/nav-myplace.png" alt="."><span>내 쉼터</span></a>
        <a href="4.html"><img src="/src/assets/nav-mylog.png" alt="."><span>마이로그</span></a>
      </nav>
      <div class="bottom-bar"></div>
    </footer>
  </body>
  <script src="/src/components/create-post.js"></script>
</html>
