/* 기본 스타일 설정 */
body {
  font-family: "Pretendard", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  overflow-x: hidden;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.2);
  min-height: 100vh;
}

.div {
  padding-bottom: 85px;
  width: 100%; /* div가 화면 너비에 맞도록 설정 */
  box-sizing: border-box; /* padding 포함한 전체 너비 계산 */
}

/* 화면 상단 바 스타일 */
header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
}

header a {
  text-decoration: none;
  color: #38536d;
  font-weight: 600;
  font-size: 16px;
}

.create {
  background-color: #fcf0d9;
  padding: 4px 16px;
  margin-right: 10px;
  border: none;
  color: #38536d;
  font-weight: bold;
  font-size: 16px;
}

.back-button {
  margin-left: 10px;
  margin-top: 5px;
}

/* 글 내용 작성 */
.content {
  padding: 20px;
  background-color: #ffffff;
}

.title {
  color: black;
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 0;
  font-size: 20px;
  font-weight: bold;
}

/* title placeholder 텍스트 스타일 */
.title::placeholder {
  color: #757575;
  font-size: 16px;
  opacity: 1;
  margin-left: 10px;
  font-weight: bold;
}

.location {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: inherit;
}

/* 글 내용 입력 창 스타일 */
.post-content {
  font-size: 15px;
  width: calc(100% - 20px);
  min-height: 400px;
  padding: 10px;
  box-sizing: border-box;
}

.post-content::placeholder {
  color: #757575;
  font-size: 16px;
  opacity: 1;
  margin-left: 10px;
  padding-top: 20px;
}

/* 이미지 관련 */
.image-upload {
  display: none;
}

.image-label {
  position: relative; /* 문구와 아이콘의 위치를 제어하기 위해 relative 사용 */
  background-color: #f5f5f5;
  display: flex; /* Flexbox로 문구와 아이콘 중앙 정렬 */
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 문구와 아이콘을 수직으로 배치 */
  width: 250px;
  height: 300px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.image-label::before {
  content: "사진을 추가해주세요";
  color: #757575;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.image-label::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url("/src/assets/add.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* 이미지가 업로드된 후 문구와 아이콘 숨기기 */
.image-label.image-uploaded::before,
.image-label.image-uploaded::after {
  display: none;
}

/* 이미지 슬라이드 컨테이너 */
.nav-tab__inner {
  position: relative;
  overflow: hidden;
}

/* 슬라이드 리스트 */
.nav-tab__scroller {
  overflow-x: auto;
  white-space: nowrap;
}

.nav-tab__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  overflow-x: auto;
  align-items: center;
}

/* 이미지 추가 버튼 스타일 */
.add-image-button {
  width: 30%;
  height: 100%;
  background-color: #f5f5f5;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-image-button img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.nav-tab__list::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}

/* 슬라이드 아이템 */
.nav-tab__item {
  flex: none;
  min-width: 250px; /* 슬라이드 아이템의 고정 너비 */
  height: 300px; /* 슬라이드 아이템의 고정 높이 */
  margin-right: 10px; /* 아이템 간격 조정 */
  display: flex;
  align-items: center;
}

/* 이미지 크기 조정 */
.nav-tab__item img {
  max-width: 250px;
  max-height: 300px;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-content {
  width: 100%;
  height: 150px;
  padding: 10px;
  border: none;
  resize: none;
  font-family: "Arial", sans-serif;
  color: black;
}

/* 하단 네비게이션 바 스타일 */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 390px;
  background-color: #fff;
  border-top: 2px solid #e9ecef;
  padding: 10px 0;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
}

footer nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer nav a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

footer nav a span {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #38536d;
}
