<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>folderdetailspage</title>
    <link rel="stylesheet" href="folderdetailspage.css">
</head>
<body>
    <footer>
        <nav>
            <a href="1.html"><img src="/src/assets/nav-filled-recommend.png" alt="."><span>추천</span></a>
            <a href="2.html"><img src="/src/assets/nav-community.png" alt="."><span>커뮤니티</span></a>
            <a href="folderpage.html"><img src="/src/assets/nav-myplace.png" alt="."><span>내 쉼터</span></a>
            <a href="4.html"><img src="/src/assets/nav-mylog.png" alt="."><span>마이로그</span></a>
        </nav>
    </footer>
</body>
</html>