/* 기본 스타일 설정 */
body {
  font-family: "Pretendard", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* 배경 색상 추가 */
  min-height: 100vh;
  color: black;
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  overflow-x: hidden;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.2);
  padding-bottom: 50px; /* 네비바에 화면 잘리는 것 방지 */
}

/* 상단바 스타일 */
.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-size: 18px;
}

.back-btn {
  position: absolute;
  left: 12px;
  background: none;
  border: none;
  width: 20px; /* 버튼 크기 */
  height: 20px; /* 버튼 크기 */
  background-image: url(/src/assets/left-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.title {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}

/* 탭 스타일 */
.tabs {
  display: flex;
  justify-content: flex-start;
  background-color: #ffffff;
  padding: 10px 0;
  margin-left: 10px;
}

.tab {
  font-family: "Pretendard", Arial, sans-serif;
  flex-basis: auto; /* 각 탭의 너비를 자동으로 설정 */
  text-align: left;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  outline: none;
  color: #888;
  margin-bottom: 5px;
}

.tab:not(:last-child) {
  margin-right: 3px; /* 탭 간의 간격 */
}

/* 탭이 활성화된 경우 */
.tab.active {
  color: #333;
  display: inline-block;
  position: relative;
}

.tab.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  width: 85%; /* 밑줄의 너비 조절 */
  margin: 0 auto;
  height: 2px;
  background-color: #333;
}

.tab:nth-child(3) {
  cursor: default; /* 빈 칸(마지막 공백 칸)이 클릭되지 않도록 설정 */
}

/* 사용자 목록 스타일 */
.user-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.user-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.user-item:last-child {
  border-bottom: none;
}

.profile-img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #d6d6d6;
  margin-left: 5px;
}

.user-name {
  margin-left: 15px;
  font-size: 16px;
  color: #333;
}

/* 탭 전환 시 숨김 처리 */
.list {
  display: none;
}

.list.active {
  display: block;
}

/* 버튼 스타일 */
.follow-btn {
  margin-left: auto;
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 10px;
  background-color: #acb6c1;
  color: white;
  cursor: pointer;
}

.follow-btn[data-following="true"] {
  background-color: #acb6c1;
}

.follow-btn[data-following="false"] {
  background-color: #384b60;
}

/* 하단 네비게이션 바 스타일 */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 390px;
  background-color: #fff;
  border-top: 2px solid #e9ecef;
  padding: 10px 0;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
}

footer nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer nav a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

footer nav a span {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #38536d;
}
