/* 기본 스타일 설정 */
body {
  font-family: "Pretendard", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  overflow-x: hidden;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.2);
  min-height: 100vh;
}

/* 상단 로고 이미지 스타일 */
header {
  display: flex;
  background-color: #fcf0d9;
}

header img {
  height: 50px;
  padding: 5px 0px;
}

/* 필터링 버튼 영역 */
.filter-div {
  background-color: #fcf0d9; /* 전체 필터 영역 배경색 적용 */
  border-radius: 0px 0px 20px 20px;
  padding: 5px 0; /* 필터 영역 내부 상하 여백 */
  margin-bottom: 5px;
}

.feel-filter,
.place-filter {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
  padding-left: 15px;
  background-color: #fcf0d9;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  align-items: center;
  height: 40px;
}

.feel-filter h4 {
  padding-left: 3px;
  color: #384b60;
}

.place-filter h4 {
  padding-left: 3px;
  color: #384b60;
  padding-right: 15px;
}

/* 필터링 버튼 스크롤바 숨기기 */
.feel-filter::-webkit-scrollbar,
.place-filter::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.feel-filter {
  scrollbar-width: none; /* Firefox */
}

.filter-div button {
  font-family: "Pretendard", Arial, sans-serif;
  background-color: white;
  border: 1px solid #e3e3e3;
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  padding: 0 15px;
  margin-right: 2px;
  border-radius: 100px;
  height: 32px;
  line-height: 32px;
}

.container {
  padding-bottom: 60px;
}

/* 메인 콘텐츠 영역 */
.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 한 줄에 2개씩 배치 */
  gap: 10px;
  padding: 10px;
  box-sizing: border-box;
}

a {
  text-decoration-line: none;
}

/* 카드 스타일 */
.card {
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* 카드 이미지 */
.card-image {
  width: 100%;
  height: 218px; /* 이미지 높이 설정 */
  background-color: #ddd; /* 이미지 배경색 설정 */
  padding: 5px;
}

/* 카드 내용 영역 */
.card-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px; /* 항목 사이 간격 설정 */
}

/* 카드 제목 */
.card-title {
  font-size: 14px;
  color: #333;
  margin: 0;
  padding-top: 5px;
}

/* 카드 영업 중 */
.card-hours {
  font-size: 12px;
  color: #388bff;
  margin: 0;
  padding-top: 3px;
}

.card-hours.open {
  color: #388bff;
}

.card-hours.closed {
  color: #f54b4b;
}

.card-hours.preparing {
  color: #1fc43a;
}

/* 카드 주소 */
.card-address {
  font-size: 12px;
  color: #666;
  margin: 0;
  padding-top: 3px;
  padding-bottom: 8px;
}

/* 하단 네비게이션 바 스타일 */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 390px;
  background-color: #fff;
  border-top: 2px solid #e9ecef;
  padding: 10px 0;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
}

footer nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer nav a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

footer nav a span {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #38536d;
}

/* 하단 바 스타일 */
.bottom-bar {
  position: fixed;
  bottom: 5px;
  width: 50%;
  margin-left: 25%;
  display: flex;
  border-radius: 5%;
  justify-content: space-around;
  background-color: #38536d;
  padding: 2px 0;
  z-index: 1000;
}
