/* 기본 스타일 설정 */
body {
  font-family: "Pretendard", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  overflow-x: hidden;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.2);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 65px;
}

/* 상단바 스타일 */
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #fff;
}

.back-btn {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  background-image: url(/src/assets/left-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.title {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.submit-btn {
  position: absolute;
  right: 15px;
  background-color: #fcf0d9;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
}

.log-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 전체 컨테이너 */
.container {
  width: 100%;
  flex-grow: 1;
  padding-bottom: 60px;
}

/* 쉬엄 기록, 날짜, 감정 아이콘 */
.record-title {
  text-align: center;
  padding-top: 10px;
}

/* 감정 아이콘 크기 조정 */
.record-title img {
  text-align: center;
  width: 60px;
  height: auto;
  padding: 20px;
  margin-bottom: 10px;
  object-fit: cover;
}

/* 이미지 슬라이드 컨테이너 */
.nav-tab__inner {
  position: relative;
  border-bottom: 1px solid #eaeaea;
  overflow: hidden;
  margin: 0 10px;
}

.nav-tab__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: stretch;
  box-sizing: border-box;
  overflow-x: auto;
}

.nav-tab__list::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}

.nav-tab__item {
  flex: none;
  min-width: 0;
  display: flex;
  align-items: stretch;
  margin-right: 10px;
}

/* 이미지 크기 조정 */
.nav-tab__item img {
  max-width: 250px;
  max-height: 300px;
  width: 100%;
  height: auto;
  aspect-ratio: 3 / 4;
  object-fit: cover;
}

/* 장소 정보 */
.log-place {
  display: flex;
  align-items: center;
  background-color: #ffebd5;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 0 10px 20px 10px;
  position: relative;
}

/* 텍스트 앞에 바 추가 */
.log-place::before {
  content: "";
  display: block;
  width: 4px; /* 바의 너비 */
  height: 60%; /* 바의 높이 */
  background-color: #384b60; /* 바의 색상 */
  position: absolute;
  left: 10px; /* 좌우 위치 조정 */
  top: 50%;
  transform: translateY(-50%); /* 바를 세로 중앙 정렬 */
  border-radius: 2px; /* 둥근 모서리 */
}

.text-info {
  margin-left: 5px; /* 바와 텍스트 사이 간격 */
  margin-right: auto;
  padding: 5px;
}

.text-info h4 {
  font-size: 17px;
  margin: 0;
  padding-bottom: 5px;
}

.text-info p {
  font-size: 14px;
  color: #999;
  margin: 0;
}

.bookmark-img {
  width: 40px;
  height: auto;
  margin-left: auto; /* 오른쪽 끝으로 밀어내기 */
}

/* 마이로그 기록 영역 */
.log-record {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 5px 15px;
  padding: 5px;
  border-radius: 15px;
}

/* 하단 네비게이션 바 스타일 */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 390px;
  background-color: #fff;
  border-top: 2px solid #e9ecef;
  padding: 10px 0;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
}

footer nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer nav a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

footer nav a span {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #38536d;
}

/* 하단 바 스타일 */
.bottom-bar {
  position: fixed;
  bottom: 5px;
  width: 50%;
  margin-left: 25%;
  display: flex;
  border-radius: 5%;
  justify-content: space-around;
  background-color: #38536d;
  padding: 2px 0;
  z-index: 1000;
}
