<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오늘의 쉬엄 기록</title>
    <link rel="stylesheet" href="log_record.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/alt-fonts/pretendard/css/pretendard.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- 마이로그 타이틀 -->
      <div class="record-title">
        <h3>오늘의 쉬엄 기록</h3>
        <div class="record-date">2024. 07. 28 화</div>
        <img src="/src/assets/icon_surprise.png" alt="놀람 아이콘" />
      </div>
      <!-- 마이로그 예시 이미지 -->
      <div class="place">
        <img src="/src/assets/post-img.jpg" alt="post-img" />
      </div>
      <!-- 마이로그 장소 정보 -->
      <div class="log-place">
        <img
          src="/src/assets/location.png"
          alt="location-img"
          class="location-img"
        />
        <div class="text-info">
          <h4>서울 올림픽 공원</h4>
          <p>서울 마포구 망원동</p>
        </div>
        <img
          src="/src/assets/bookmark.png"
          alt="bookmark"
          class="bookmark-img"
        />
      </div>
      <!-- 마이로그 기록 -->
      <div class="log-record">
        <p class="text-p">
          오늘은 주말에 서울 올림픽 공원에 갔다. 날씨가 좋아서 피크닉을 했다.
          오늘은 주말에 서울 올림픽 공원에 갔다. 날씨가 좋아서 피크닉을 했다.
          오늘은 주말에 서울 올림픽 공원에 갔다. 날씨가 좋아서 피크닉을 했다.
          오늘은 주말에 서울 올림픽 공원에 갔다. 날씨가 좋아서 피크닉을 했다.
          오늘은 주말에 서울 올림픽 공원에 갔다. 날씨가 좋아서 피크닉을 했다.
          오늘은 주말에 서울 올림픽 공원에 갔다. 날씨가 좋아서 피크닉을 했다.
          오늘은 주말에 서울 올림픽 공원에 갔다. 날씨가 좋아서 피크닉을 했다.
          오늘은 주말에 서울 올림픽 공원에 갔다. 날씨가 좋아서 피크닉을 했다.
        </p>
      </div>

      <!-- 하단 네비게이션 바 -->
      <footer>
        <nav>
          <a href="home.html"><img src="/src/assets/nav-recommend.png" alt="."><span>추천</span></a>
          <a href="community.html"><img src="/src/assets/nav-community.png" alt="."><span>커뮤니티</span></a>
          <a href="folderpage.html"><img src="/src/assets/nav-myplace.png" alt="."><span>내 쉼터</span></a>
          <a href="4.html"><img src="/src/assets/nav-filled-mylog.svg" alt="."><span>마이로그</span></a>
        </nav>
        <div class="bottom-bar"></div>
      </footer>
    </div>
    <script src="/src/components/log_record.js"></script>
  </body>
</html>
