<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오늘의 쉬엄 기록</title>
    <link rel="stylesheet" href="log_registration.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/alt-fonts/pretendard/css/pretendard.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <!-- 상단바 -->
      <header class="header">
        <button class="back-btn"></button>
        <h1 class="title">오늘의 쉬엄 기록</h1>
        <button class="submit-btn">등록</button>
      </header>

      <!-- 감정 선택 모달 트리거 버튼 -->
      <div class="log-header">
        <img
          id="openEmotionModal"
          src="/emotion-icon.png"
          alt="감정 아이콘"
          class="log-icon"
        />
      </div>

      <!-- 감정 선택 모달창 -->
      <div id="emotionModal" class="emotion-modal hidden">
        <div class="modal-content">
          <span class="close">&times;</span>
          <h4>오늘의 기분</h4>
          <div class="emotion-grid">
            <div class="emotion-item" data-emotion="calm">
              <img src="/icon_calm.png" alt="덤덤" />
              <p>덤덤</p>
            </div>
            <div class="emotion-item" data-emotion="shy">
              <img src="/icon_shy.png" alt="부끄" />
              <p>부끄</p>
            </div>
            <div class="emotion-item" data-emotion="happy">
              <img src="/icon_happy.png" alt="행복" />
              <p>행복</p>
            </div>
            <div class="emotion-item" data-emotion="sensitive">
              <img src="/icon_sensitive.png" alt="예민" />
              <p>예민</p>
            </div>
            <div class="emotion-item" data-emotion="annoy">
              <img src="/icon_annoy.png" alt="짜증" />
              <p>짜증</p>
            </div>
            <div class="emotion-item" data-emotion="sad">
              <img src="/icon_sad.png" alt="슬픔" />
              <p>슬픔</p>
            </div>
            <div class="emotion-item" data-emotion="love">
              <img src="/icon_love.png" alt="반함" />
              <p>반함</p>
            </div>
            <div class="emotion-item" data-emotion="electrifying">
              <img src="/icon_electrifying.png" alt="짜릿" />
              <p>짜릿</p>
            </div>
            <div class="emotion-item" data-emotion="surprise">
              <img src="/icon_surprise.png" alt="놀람" />
              <p>놀람</p>
            </div>
          </div>
        </div>
      </div>

      <!-- 음악 추가 버튼 -->
      <div class="add-music-container">
        <button class="add-music-btn">
          <img
            src="/music-icon.png"
            alt="음악 아이콘"
            class="music-icon"
          />
          음악 추가하기
        </button>
      </div>

      <!-- 장소 정보 -->
      <div class="log-place">
        <div class="text-info">
          <h4>카페꼼마 합정점</h4>
          <p>서울 마포구 망원동</p>
        </div>
        <!--북마크 버튼-->
        <button class="bookmark-button">
          <img
            src="/bookmark.png"
            alt="bookmark"
            class="bookmark-img"
          />
        </button>
      </div>

      <!-- 사진 추가 -->
      <div class="photo-section">
        <div class="photo-box">
          <div class="add-photo">
            <p>사진을 추가해주세요</p>
            <button class="add-photo-btn">+</button>
          </div>
        </div>
        <div class="photo-box">
          <div class="add-photo">
            <p>사진을 추가해주세요</p>
            <button class="add-photo-btn">+</button>
          </div>
        </div>
      </div>

      <!-- 텍스트 입력 -->
      <div class="log-record">
        <textarea placeholder="내용을 입력하세요." rows="16"></textarea>
      </div>

      <!-- 하단 네비게이션 바 -->
      <footer>
        <nav>
          <a href="home.html"
            ><img src="/nav-recommend.png" alt="." /><span
              >추천</span
            ></a
          >
          <a href="community.html"
            ><img src="/nav-community.png" alt="." /><span
              >커뮤니티</span
            ></a
          >
          <a href="folderpage.html"
            ><img src="/nav-myplace.png" alt="." /><span
              >내 쉼터</span
            ></a
          >
          <a href="main-page.html"
            ><img src="/nav-filled-mylog.svg" alt="." /><span
              >마이로그</span
            ></a
          >
        </nav>
      </footer>

      <!-- 북마크 모달창 -->
      <div id="bookmarkModal" class="modal hidden">
        <div class="modal-content">
          <div id="modal-bar"></div>
          <div class="modal-header">
            <h2>폴더 선택</h2>
            <button class="save-button">선택하기</button>
          </div>
          <ul class="folder-list">
            <!--동적으로 폴더 추가 될 곳-->
          </ul>
          <button class="add-folder-button">
            <img src="/bookmark.png" />쉼터 폴더 추가
          </button>
          <div class="modal-actions"></div>
        </div>
      </div>

      <!-- 폴더 생성 -->
      <div id="folderCreationModal" class="modal hidden">
        <div class="modal-content">
          <div id="modal-bar"></div>
          <div class="folder-create-header">
            <h2>쉼터 폴더 추가</h2>
          </div>

          <div id="folder-preview" class="folder-preview">
            <span id="folder-preview-name">폴더명</span>
          </div>

          <div class="color-options">
            <label class="color-option">
              <input type="radio" name="folderColor" value="#FBB5B5" />
              <span class="color-label"></span>
            </label>
            <label class="color-option">
              <input type="radio" name="folderColor" value="#ECBAA6" />
              <span class="color-label"></span>
            </label>
            <label class="color-option">
              <input type="radio" name="folderColor" value="#C1EFA5" />
              <span class="color-label"></span>
            </label>
            <label class="color-option">
              <input type="radio" name="folderColor" value="#B3DEEC" />
              <span class="color-label"></span>
            </label>
            <label class="color-option">
              <input type="radio" name="folderColor" value="#8FC28A" />
              <span class="color-label"></span>
            </label>
            <label class="color-option">
              <input type="radio" name="folderColor" value="#FDEE96" />
              <span class="color-label"></span>
            </label>
            <label class="color-option">
              <input type="radio" name="folderColor" value="#EBC3EB" />
              <span class="color-label"></span>
            </label>
            <label class="color-option">
              <input type="radio" name="folderColor" value="#E18383" />
              <span class="color-label"></span>
            </label>
            <label class="color-option">
              <input type="radio" name="folderColor" value="#8E98F2" />
              <span class="color-label"></span>
            </label>
          </div>

          <input type="text" id="folderName" placeholder="폴더 이름 입력" />
          <button class="create-folder-button">폴더 생성하기</button>
        </div>
      </div>
    </div>
    <script src="/log_registration.js"></script>
  </body>
</html>
