/* 기본 스타일 */
body {
  font-family: "Pretendard", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
  width: 100%; /* 화면 전체 너비에 맞추기 */
  max-width: 390px; /* 최대 너비를 390px로 설정 */
  margin: 0 auto; /* 화면 중앙 정렬 */
  overflow-x: hidden; /* 가로 스크롤 방지 */
  min-height: 100vh;
  padding-bottom: 100px;
}

/* 전체 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

/* 쉬엄 기록, 날짜, 감정 아이콘 */
.record-title {
  text-align: center;
  padding-top: 10px;
}

.record-date {
  color: #797979;
}

/* 감정 아이콘 크기 조정 */
.record-title img {
  max-width: 150px;
  max-height: 150px;
  width: 20%;
  padding: 20px;
  height: auto;
  object-fit: cover;
}

/* 장소 이미지 크기 조정 */
.place img {
  max-width: 450px;
  max-height: 300px;
  width: 100%;
  aspect-ratio: 3 / 2; /* 이미지 비율 3:2 유지 */
  height: auto;
  object-fit: cover;
}

/* 마이로그 장소 정보 */
.log-place {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin: 15px;
  border-radius: 15px;
}

.location-img {
  width: 30px; /* 이미지 크기 조정 */
  height: auto;
  margin-left: 10px;
}

.text-info {
  display: flex;
  flex-direction: column; /* 수직으로 정렬 */
  margin-left: 20px; /* 이미지와 텍스트 사이에 간격 추가 */
  padding: 10px;
}

.text-info h4,
.text-info p {
  margin: 5px;
}

.bookmark-img {
  width: 50px; /* bookmark 이미지 크기 조정 */
  height: auto;
  margin-left: auto; /* 오른쪽 끝으로 밀어내기 */
  padding-right: 5px;
}

.place-title img {
  padding-left: 15px;
  width: 24px;
}

/* 마이로그 기록 영역 */
.log-record {
  display: flex;
  justify-content: space-between;
  background-color: white;
  margin: 15px;
  padding: 5px 20px;
  border-radius: 15px;
}

/* 하단 네비게이션 바 스타일 */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 390px;
  background-color: #fff;
  border-top: 2px solid #e9ecef;
  padding: 10px 0;
  z-index: 1000;
  left: 50%;
  transform: translateX(-50%);
}

footer nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer nav a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

footer nav a span {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #38536d;
}

/* 하단 바 스타일 */
.bottom-bar {
  position: fixed;
  bottom: 5px;
  width: 50%;
  margin-left: 25%;
  display: flex;
  border-radius: 5%;
  justify-content: space-around;
  background-color: #38536d;
  padding: 2px 0;
  z-index: 1000;
}
