/* 기본 스타일 설정 */
body {
  font-family: "Pretendard", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%;
  max-width: 390px;
  margin: 0 auto;
  overflow-x: hidden;
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.2);
  height: 100vh; /* 전체 높이 설정 */
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-bottom: 65px;
}

/* 전체 컨테이너 */
.container {
  width: 100%;
  flex-grow: 1;
  padding-bottom: 60px;
}

/* 상단바 스타일 */
.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #fff;
}

.back-btn {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  background-image: url(/src/assets/left-arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.title {
  font-size: 18px;
  margin: 0;
  font-weight: bold;
  text-align: center;
}

.submit-btn {
  position: absolute;
  right: 15px;
  background-color: #fcf0d9;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
}

.log-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* 감정 선택 아이콘 */
.log-icon {
  width: 75px;
  height: auto;
  margin-left: auto;
  margin-right: auto; /* 아이콘을 가운데로 배치 */
  padding-bottom: 20px;
  display: block;
  cursor: pointer;
}

/* 음악 추가 버튼을 감싸는 컨테이너 */
.add-music-container {
  display: flex;
  justify-content: flex-end; /* 오른쪽 끝으로 배치 */
  margin-bottom: 20px; /* 버튼 아래 여백 */
}

/* 음악 추가 버튼 스타일 */
.add-music-btn {
  background-color: #38536d;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin: 0px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px; /* 이미지와 텍스트 사이 간격 */
}

/* 버튼 내 이미지 스타일 */
.music-icon {
  width: 18px;
  height: auto;
}

/* 장소 정보 */
.log-place {
  display: flex;
  align-items: center;
  background-color: #ffebd5;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 0 10px 20px 10px;
  position: relative;
}

/* 텍스트 앞에 바 추가 */
.log-place::before {
  content: "";
  display: block;
  width: 4px; /* 바의 너비 */
  height: 60%; /* 바의 높이 */
  background-color: #384b60; /* 바의 색상 */
  position: absolute;
  left: 10px; /* 좌우 위치 조정 */
  top: 50%;
  transform: translateY(-50%); /* 바를 세로 중앙 정렬 */
  border-radius: 2px; /* 둥근 모서리 */
}

.text-info {
  margin-left: 5px; /* 바와 텍스트 사이 간격 */
  margin-right: auto;
  padding: 5px;
}

.text-info h4 {
  font-size: 17px;
  margin: 0;
  padding-bottom: 5px;
}

.text-info p {
  font-size: 14px;
  color: #999;
  margin: 0;
}

/* 북마크 버튼 */
.bookmark-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background: none;
}

.bookmark-img {
  width: 40px;
  height: auto;
  margin-left: auto; /* 오른쪽 끝으로 밀어내기 */
  cursor: pointer;
}

/* 사진 추가 섹션 */
.photo-section {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 20px 10px;
}

.photo-box {
  width: 48%;
  background-color: #eaeef2;
  height: 250px;
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.add-photo {
  text-align: center;
}

.add-photo p {
  font-size: 14px;
  color: #999;
}

.add-photo-btn {
  background-color: #f9f0de;
  border: none;
  font-size: 36px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/* 마이로그 기록 영역 */
.log-record {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin: 0;
  padding: 0;
}

.log-record textarea {
  width: 95%;
  border: 1px solid white;
  border-radius: 10px;
  padding: 5px 5px;
  font-family: "Pretendard", Arial, sans-serif;
  font-size: 14px;
  resize: none;
  box-sizing: border-box;
  margin: 0px 10px;
}

/* 텍스트 영역의 placeholder 스타일 */
.log-record textarea::placeholder {
  color: #938e8e;
  font-family: "Pretendard", Arial, sans-serif;
  font-size: 14px;
}

/* 감정 모달창 기본 스타일 */
.emotion-modal {
  display: none; /* 기본적으로 숨김 처리 */
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 배경 */
  justify-content: center;
  align-items: flex-end;
  transition: transform 0.3s ease;
}

/* 모달 콘텐츠 박스 스타일 */
.modal-content {
  background-color: #fff;
  padding: 10px 0 60px 0;
  border-radius: 20px 20px 0 0;
  width: 100%;
  max-width: 390px;
  text-align: center;
  transform: translateY(0); /* 모달이 나타나는 위치 초기화 */
  transition: transform 0.3s ease;
}

/* 모달창 닫기 버튼 */
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

/* 감정 그리드 스타일 */
.emotion-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.emotion-item {
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.emotion-item img {
  width: 45px;
  height: auto;
}

.emotion-item p {
  margin-top: 8px;
  font-size: 14px;
}

.emotion-item:hover {
  transform: scale(1.1);
}

/* 하단 네비게이션 바 스타일 */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 390px;
  background-color: #fff;
  border-top: 2px solid #e9ecef;
  padding: 10px 0;
  z-index: 1002;
  left: 50%;
  transform: translateX(-50%);
}

footer nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

footer nav a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

footer nav a span {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
  color: #38536d;
}

/* 폴더 선택 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background: white;
  width: 100%;
  max-width: 350px;
  border-radius: 10px 10px 0 0;
  padding: 20px;
  padding-bottom: 65px;
}

.hidden {
  display: none;
}

.modal-header {
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽 정렬 */
  align-items: center;
  margin-bottom: 16px;
}
.modal-header h2 {
  margin-top: 20px;
  font-family: "Jua", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #38536d;
}

#folder-preview h2 {
  margin: 0; /* Remove any default margin */
}

.folder-select-text {
  font-weight: 500;
  font-size: 18px;
}

.save-button {
  background-color: #38536d;
  border: none;
  color: white;
  padding: 7px 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.save-button img {
  width: 19px;
}

.create-folder-button img {
  width: 19px;
}
/* 기존 폴더 리스트 스타일 */
.folder-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.folder-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #d8d8d8;
}

/* 폴더 추가 버튼 스타일 */
.add-folder-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #d8d8d8;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
}

/* 기본 라디오 버튼 숨기기 */
.folder-list input[type="radio"] {
  display: none;
}

/* 커스텀 라디오 버튼 스타일 */
.folder-list label {
  position: relative;
  padding-right: 30px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  flex-grow: 1; /* 라벨이 남은 공간을 차지 */
  text-align: left;
}

/* 라디오 버튼을 오른쪽에 위치시키기 */
.folder-list label::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 50%; /* 라디오 버튼 모양 */
  background-color: white;
}

.folder-list input[type="radio"]:checked + label::before {
  background-color: #fff7dc;
  border-color: #ccc;
}

/* 폴더 생성 모달 스타일 */
.folder-create-header h2 {
  margin-top: 20px;
  font-family: "Jua", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #38536d;
}

#folder-preview {
  border-top: 9px solid #e08282;
  background-color: #fdf6e3;
  padding: 20px; /* 여백 크기 조정 */
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  width: 80%; /* 가로 크기 조정 */
  max-width: 250px; /* 폴더 크기 고정 */
  margin: 30px auto 0 auto; /* 상단에 30px 추가 */
  height: 150px; /* 세로 크기 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.modal-content input {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
}

/* 색상 선택 버튼 */
.color-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.color-option {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

/* 각각의 색상 버튼 기본 상태 */
.color-option:nth-child(1) {
  background-color: #fbb5b5;
}
.color-option:nth-child(2) {
  background-color: #ecbaa6;
}
.color-option:nth-child(3) {
  background-color: #c1efa5;
}
.color-option:nth-child(4) {
  background-color: #b3deec;
}
.color-option:nth-child(5) {
  background-color: #8fc28a;
}
.color-option:nth-child(6) {
  background-color: #fdee96;
}
.color-option:nth-child(7) {
  background-color: #ebc3eb;
}
.color-option:nth-child(8) {
  background-color: #e18383;
}
.color-option:nth-child(9) {
  background-color: #8e98f2;
}

.color-option input[type="radio"] {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  margin: 0;
}

/* 체크된 상태에서는 색상을 어둡게 */
.color-option input[type="radio"]:checked + .color-label {
  background-color: rgba(0, 0, 0, 0.2); /* 어두운 오버레이 효과 */
}

.color-label {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: inherit; /* 부모의 배경색 상속 */
  z-index: 1;
}

.folder-create-header {
  display: flex;
  justify-content: space-between; /* 왼쪽과 오른쪽 정렬 */
  align-items: center;
  margin-bottom: 16px;
}

.create-folder-button {
  margin-top: 3%;
  width: 100%;
  padding: 10px 20px;
  background-color: #38536d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
