<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>로그인</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/alt-fonts/pretendard/css/pretendard.css"
    />
    <link rel="stylesheet" href="/src/layout/login.css" />
  </head>
  <body>
    <!-- 상단바 -->
    <header class="header">
      <button class="back-btn"></button>
      <h1 class="title">로그인/회원가입</h1>
    </header>
    <div class="login-container">
      <input type="text" class="login-input" placeholder="아이디" />
      <div class="password-wrapper">
        <input
          type="password"
          class="login-input password-input"
          placeholder="비밀번호"
        />
        <button type="button" class="toggle-password">비밀번호 보기</button>
      </div>
      <button class="login-button">로그인</button>
      <button class="signup-button">회원가입</button>
    </div>
    <script src="/src/components/login.js"></script>
  </body>
</html>
