<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css"> 
</head>
<body>
    <div class="login-container">
        <img src="/text-logo.png" alt="text-logo" class="text-logo">
        <h2 class="login-text">로그인</h2>
        <input type="text" class="login-input" placeholder="아이디">
        <input type="password" class="login-input" placeholder="비밀번호">
        <button class="login-button">로그인</button>
        <a class="signup" href="/signUp.html">회원가입</a>
    </div>
    <script src="/login.js"></script>
</body>
</html>
