<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device=width, initial-scale=1.0" />
    <title>지도</title>
    <link rel="stylesheet" href="map.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/alt-fonts/pretendard/css/pretendard.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
</head>

  <body>
    <div id="map"></div>
    <script src="/map.js"></script>
    <script
      type="text/javascript"
      src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d0444e1e4b8c929517140df8e9c9a2b5"
    ></script>

  <div class="header-bar">
    <div class="divider"></div>
    <button class="header-btn"><img src="/empty_mark_icon.png" alt="header-bar-icon">쉼터 폴더 이름</button>
    <div class="divider"></div>
    <button class="header-btn"><img src="/empty_mark_icon.png" alt="header-bar-icon">쉼터 폴더 이름</button>
    <div class="divider"></div>
    <button class="header-btn"><img src="/empty_mark_icon.png" alt="header-bar-icon">쉼터 폴더 이름</button>
    <div class="divider"></div>
    <button class="header-btn"><img src="/empty_mark_icon.png" alt="header-bar-icon">쉼터 폴더 이름</button>
  </div>

  <div id="bottomSheet" class="bottom-sheet">
    <div id="handle" class="handle"></div>
    <div class="sheet-content">
      <!-- 바텀시트에 들어갈 내용 -->
      <h1 class="total-count">전체 0</h1>
      <ul class="location-list">
        <li>
          <img src="/location_icon.png" alt="Location Icon">
          <div>
            <p class="location-name">서울 올림픽 공원</p>
            <p class="location-sub">서울특별시 송파구 방이동</p>
          </div>
        </li>
        <li>
          <img src="/location_icon.png" alt="Location Icon">
          <div>
            <p class="location-name">서울 올림픽 공원</p>
            <p class="location-sub">서울특별시 송파구 방이동</p>
          </div>
        </li>
        <li>
          <img src="/location_icon.png" alt="Location Icon">
          <div>
            <p class="location-name">서울 올림픽 공원</p>
            <p class="location-sub">서울특별시 송파구 방이동</p>
          </div>
        </li>
        <li>
          <img src="/location_icon.png" alt="Location Icon">
          <div>
            <p class="location-name">서울 올림픽 공원</p>
            <p class="location-sub">서울특별시 송파구 방이동</p>
          </div>
        </li>
      </ul>
    </div>
    <!-- 하단 네비게이션 바 -->
    <footer>
      <nav>
        <a href="home.html"
          ><img src="/nav-filled-recommend.png" alt="." /><span
            >추천</span
          ></a
        >
        <a href="community.html"
          ><img src="/nav-community.png" alt="." /><span
            >커뮤니티</span
          ></a
        >
        <a href="folderpage.html"
          ><img src="/nav-myplace.png" alt="." /><span
            >내 쉼터</span
          ></a
        >
        <a href="main-page.html"
          ><img src="/nav-mylog.png" alt="." /><span
            >마이로그</span
          ></a
        >
      </nav>
    </footer>
  </body>
</html>
