<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>장소 리뷰 화면</title>
    <link rel="stylesheet" href="place_review.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/alt-fonts/pretendard/css/pretendard.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Jua&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <!-- 리뷰 게시글 -->
      <div class="post">
        <h2 class="review-title">리뷰 게시글 제목</h2>
        <!-- 리뷰 해당하는 장소, 필터 -->
        <div class="review-place">
          <div class="place-title">
            <h4>공덕역 투썸플레이스</h4>
            <img src="/src/assets/review-icon.png" alt="쉬엄쉬엄아이콘" />
          </div>
          <!--필터링-->
          <div class="filter-div">
            <button class="filter-button">자연</button>
            <button class="filter-button">작업하기 좋은</button>
          </div>
        </div>
        <!-- 게시글 정보 및 내용 -->
        <div class="post-header">
          <div class="post-user-info">
            <div class="user-icon"></div>
            <div class="post-details">
              <div class="post-meta">
                <span class="username">닉네임</span>
              </div>
              <div class="post-stats">
                <span class="post-date">2024. 07. 28</span>
                <span class="post-time">11:17</span>
                <span class="post-views">조회</span>
                <span class="post-views-amount">13</span>
              </div>
            </div>
          </div>
          <button class="follow-button">팔로우</button>
        </div>
        <div class="post-content">
          <!--이미지 슬라이드-->
          <div class="nav-tab__inner">
            <ul class="nav-tab__list">
              <li class="nav-tab__item on">
                <img src="/src/assets/post-img.jpg" alt="post-img" />
              </li>
              <li class="nav-tab__item">
                <img src="/src/assets/post-img.jpg" alt="post-img" />
              </li>
            </ul>
          </div>
          <!--좋아요, 댓글 -->
          <div class="likes-comment-info">
            <button class="likes-button" id="like-btn-1">
              <img src="/src/assets/likes-button.png" id="like-img-1" />
            </button>
            <p class="likes-amount">10</p>
            <button class="comment-button">
              <img src="/src/assets/comment.png" />
            </button>
            <p class="comment-amount">3</p>
          </div>
          <div class="text-div">
            <p class="text-p">
              오늘 소개해 드릴 장소는 합정 티노마드 카페입니다! 식물이 많고
              채광이 잘 들어와서 사진 찍기에도 좋은 예쁜 카페였습니다. 오늘
              소개해 드릴 장소는 합정 티노마드 카페입니다! 식물이 많고 채광이 잘
              들어와서 사진 찍기에도 좋은 예쁜 카페였습니다.
            </p>
            <p class="post-date">2024.08.03</p>
          </div>
        </div>
      </div>

      <!-- 하단 네비게이션 바 -->
      <footer>
        <nav>
          <a href="home.html"
            ><img src="/src/assets/nav-filled-recommend.png" alt="." /><span
              >추천</span
            ></a
          >
          <a href="community.html"
            ><img src="/src/assets/nav-community.png" alt="." /><span
              >커뮤니티</span
            ></a
          >
          <a href="folderpage.html"
            ><img src="/src/assets/nav-myplace.png" alt="." /><span
              >내 쉼터</span
            ></a
          >
          <a href="main-page.html"
            ><img src="/src/assets/nav-mylog.png" alt="." /><span
              >마이로그</span
            ></a
          >
        </nav>
      </footer>
    </div>
    <script src="/src/components/place_review.js"></script>
  </body>
</html>
