<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>장소 화면</title>
    <link rel="stylesheet" href="place.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/alt-fonts/pretendard/css/pretendard.css"
    />
  </head>
  <body>
    <div class="container">
      <!-- 상단의 장소 이름, 정보 영역 -->
      <div class="place">
        <div class="place-and-bookmark">
          <h3 class="place-name">카페꼼마 합정점</h3>
          <!--북마크 버튼-->
          <button class="bookmark-button">
            <img src="/src/assets/bookmark.png" />
          </button>
        </div>
        <div class="place-img"><img></div>
        <div class="place-address">
          <button><img src="/src/assets/place-icon.png" alt="*"></button>
          <h4>장소 상세 주소</h4>
          <button><img src="/src/assets/copy-icon.png" alt="주소 복사하기"></button>
        </div>
        <div class="place-info">              
          <div class="place-time">
            <button><img src="/src/assets/time-icon.png" alt="*"></button>
            <h4>영업중 0:00~0:00</h4>
          </div>
          <div class="place-parking">
            <button><img src="/src/assets/parking-icon.png" alt="*"></button>
            <h4>주차 가능</h4>
          </div>
          <div class="place-wifi">
            <button><img src="/src/assets/wifi-icon.png" alt="*"></button>
            <h4>와이파이 제공</h4>
          </div>
        </div>
      </div>
      <div class="review">
        <div class="review-header">
          <h3>리뷰</h3>
          <a href="community.html"><h5 class="view-all">전체보기 ></h5></a>
        </div>
        <!--리뷰 이미지 슬라이드-->
        <div class="nav-tab__inner">
          <div class="nav-tab__scroller">
            <ul class="nav-tab__list">
              <li class="nav-tab__item on">
                <a href="/src/layout/post.html"
                  ><img src="/src/assets/post-img.jpg" alt="post-img"
                /></a>
                <a href="post.html"><h5 class="review-title">타이틀</h5></a>
              </li>
              <li class="nav-tab__item">
                <a href="/src/layout/post.html"
                  ><img src="/src/assets/post-img.jpg" alt="post-img"
                /></a>
                <a href="post.html"><h5 class="review-title">타이틀</h5></a>
              </li>
              <li class="nav-tab__item">
                <a href="/src/layout/post.html"
                  ><img src="/src/assets/post-img.jpg" alt="post-img"
                /></a>
                <a href="post.html"><h5 class="review-title">타이틀</h5></a>
              </li>
              <!-- More items -->
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- 하단 네비게이션 바 -->
    <footer>
      <nav>
        <a href="1.html"><img src="/src/assets/nav-recommend.png" alt="."><span>추천</span></a>
        <a href="2.html"><img src="/src/assets/nav-filled-community.png" alt="."><span>커뮤니티</span></a>
        <a href="3.html"><img src="/src/assets/nav-myplace.png" alt="."><span>내 쉼터</span></a>
        <a href="4.html"><img src="/src/assets/nav-mylog.png" alt="."><span>마이로그</span></a>
      </nav>
      <div class="bottom-bar"></div>
    </footer>
    <script src="/src/components/place.js"></script>
  </body>
</html>
