<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post</title>
    <link rel="stylesheet" href="/src/layout/post.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/alt-fonts/pretendard/css/pretendard.css"
    />
    <script
      src="https://kit.fontawesome.com/d0ef824827.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="div">
      <!--글 제목-->
      <h3 class="title">인테리어가 예쁜 합정 카페 추천</h3>

      <!--게시물 내용-->
      <div class="community-post">
        <div class="placename-and-filter">
          <h3 class="post-placename">티노마드</h3>
          <div class="filter-and-bookmark">
            <!--필터링-->
            <div class="filter-div">
              <button class="filter-button">자연</button>
              <button class="filter-button">작업하기 좋은</button>
            </div>
            <!--북마크 버튼-->
            <button class="bookmark-button">
              <img src="/src/assets/bookmark.png" />
            </button>
          </div>
        </div>

        <!--사용자 프로필 / 팔로우 버튼-->
        <div class="user-follow-div">
          <div class="user-info">
            <i class="fa-solid fa-circle-user"></i>
            <p class="nickname">닉네임</p>
          </div>
          <button class="follow-button">팔로우</button>
        </div>

        <!--이미지 슬라이드-->
        <div class="nav-tab__inner">
          <ul class="nav-tab__list">
            <li class="nav-tab__item on">
              <a href="./post.html"
                ><img src="/src/assets/post-img.jpg" alt="post-img"
              /></a>
            </li>
            <li class="nav-tab__item">
              <a href="./post.html"
                ><img src="/src/assets/post-img.jpg" alt="post-img"
              /></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="likes-comment-info">
        <button class="likes-button">
          <img src="/src/assets/black-likes.png" />
        </button>
        <p class="likes-amount">10</p>
        <button class="comment-button">
          <img src="/src/assets/comment.png" />
        </button>
        <p class="comment-amount">3</p>
      </div>
      <div class="text-div">
        <p class="text-p">
          오늘 소개해 드릴 장소는 합정 티노마드 카페입니다! 식물이 많고 채광이
          잘 들어와서 사진 찍기에도 좋은 예쁜 카페였습니다. 오늘 소개해 드릴
          장소는 합정 티노마드 카페입니다! 식물이 많고 채광이 잘 들어와서 사진
          찍기에도 좋은 예쁜 카페였습니다.
        </p>
        <p class="post-date">2024.08.03</p>
      </div>
    </div>
    <!-- 하단 네비게이션 바 -->
    <footer>
      <nav>
        <a href="1.html"><img src="/src/assets/nav-recommend.png" alt="."><span>추천</span></a>
        <a href="2.html"><img src="/src/assets/nav-filled-community.png" alt="."><span>커뮤니티</span></a>
        <a href="3.html"><img src="/src/assets/nav-myplace.png" alt="."><span>내 쉼터</span></a>
        <a href="4.html"><img src="/src/assets/nav-mylog.png" alt="."><span>마이로그</span></a>
      </nav>
      <div class="bottom-bar"></div>
    </footer>

    <!-- 북마크 모달창 -->
    <div id="bookmarkModal" class="modal hidden">
      <div class="modal-content">
        <div class="modal-header">
          <p class="folder-select-text">폴더 선택</p>
          <button class="save-button">
            <img src="/src/assets/plus.png" alt="저장" />
          </button>
        </div>
        <ul class="folder-list">
          <li>
            <input type="radio" id="folder1" name="folder" /><label
              for="folder1"
              >책 읽기 좋은 곳</label
            >
          </li>
          <li>
            <input type="radio" id="folder2" name="folder" /><label
              for="folder2"
              >카공하기 좋은 카페</label
            >
          </li>
          <li>
            <input type="radio" id="folder3" name="folder" /><label
              for="folder3"
              >산책하기 좋은 곳</label
            >
          </li>
          <li>
            <input type="radio" id="folder4" name="folder" /><label
              for="folder4"
              >24시간 잠집합</label
            >
          </li>
        </ul>
        <button class="add-folder-button">
          <img src="/src/assets/bookmark.png" />쉼터 폴더 추가
        </button>
        <div class="modal-actions"></div>
      </div>
    </div>

    <!-- 폴더 생성 -->
    <div id="folderCreationModal" class="modal hidden">
      <div class="modal-content">
        <div class="folder-create-header">
          <h3>쉼터 폴더 추가</h3>
          <button class="save-button">
            <img src="/src/assets/plus.png" alt="저장" />
          </button>
        </div>
        <input type="text" id="folderName" placeholder="폴더 이름 입력" />
        <div class="color-options">
          <label class="color-option">
            <input type="radio" name="folderColor" value="#FBB5B5" />
            <span class="color-label"></span>
          </label>
          <label class="color-option">
            <input type="radio" name="folderColor" value="#ECBAA6" />
            <span class="color-label"></span>
          </label>
          <label class="color-option">
            <input type="radio" name="folderColor" value="#C1EFA5" />
            <span class="color-label"></span>
          </label>
          <label class="color-option">
            <input type="radio" name="folderColor" value="#B3DEEC" />
            <span class="color-label"></span>
          </label>
          <label class="color-option">
            <input type="radio" name="folderColor" value="#8FC28A" />
            <span class="color-label"></span>
          </label>
          <label class="color-option">
            <input type="radio" name="folderColor" value="#FDEE96" />
            <span class="color-label"></span>
          </label>
          <label class="color-option">
            <input type="radio" name="folderColor" value="#EBC3EB" />
            <span class="color-label"></span>
          </label>
          <label class="color-option">
            <input type="radio" name="folderColor" value="#E18383" />
            <span class="color-label"></span>
          </label>
          <label class="color-option">
            <input type="radio" name="folderColor" value="#8E98F2" />
            <span class="color-label"></span>
          </label>
        </div>
      </div>
    </div>

    <script src="/src/components/post.js"></script>
  </body>
</html>
