/* 기본 스타일 설정 */
body {
  font-family: "Pretendard", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100%; /* 화면 전체 너비에 맞추기 */
  max-width: 390px; /* 최대 너비를 390px로 설정 */
  margin: 0 auto; /* 화면 중앙 정렬 */
  overflow-x: hidden; /* 가로 스크롤 방지 */
}

/* 컨테이너 스타일 */
.container {
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  max-width: 700px; /* 최대 너비 설정 */
}

/* 로고 이미지 스타일 */
.logo {
  width: 100%; /* 화면 너비의 100%로 설정 */
  max-width: 700px; /* 최대 너비를 500px로 설정하여 더 크게 표시 */
  height: auto;
  margin-bottom: 20px;
}

.start-button:hover {
  background-color: #00b30f;
}
